.sample_product {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 10%;
}

.navbar {
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.seller-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seller-name,
.seller-rating {
  font-size: 18px;
}

.price-like-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-tag {
  font-size: 24px;
  font-weight: bold;
}

.like-button {
  background-color: #333;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button {
  background-color: #333;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
