.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  display: inline-block;
  margin-bottom: 10px;
  max-width: 70%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.chat-message-text {
  word-wrap: break-word;
}

.chat-message.right {
  background-color: #DCF8C6;
  float: right;
  text-align: right;
}

.chat-message.left {
  background-color: #fff;
  float: left;
  text-align: left;
}

.chat-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.chat-form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.chat-form button[type="submit"] {
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
