.home-page{
    background-color:#C8DDEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recently-viewed-container{
    background-color:#cddbe4;
    max-width: 90%;
    scroll-behavior: smooth;
}

.for-you-container{
    background-color:#cddbe4;
    max-width: 90%;
    scroll-behavior: auto;
}

.myButton{
    text-align: center;
}
