.generic-profile-buttons{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: start;
  
}

.generic-profile {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: start;
}

.generic-name {
    margin-bottom: 10px;
}
